:root {
    font-family: arial, 'sans-serif';
    
}
body {
    color: black
}
.kop-atas-container {
    display: flex;
    flex-direction: row;
    align-content: center;
}
.logo-imi {
    align-self: center;
}
.kop-samping-logo {
    align-self: center;
}
.kop-tengah {
    position: relative;
    text-align: center;
    flex-grow: 1;
}
p.kop-tengah {
    padding-bottom: 0.5rem;
    border-bottom: 2px solid black;
}
.kop-bold {
    font-weight: 700;
}
.kop-logo {
    align-self: center;
}
.logo-kumham {
    position: absolute;
}
.tujuan-surat {
    margin-left: auto;
    margin-right: 5rem;
}
/* .tujuan-surat:nth-of-type(3) {
    margin-top: 1rem;
}
.tujuan-surat:nth-of-type(4) {
    margin-top: 5rem;
} */

.atensi-title {
    text-align: center;
}
.report-table th,.report-table tr, .report-table td {
    border: 1px solid black;
}
.report-table {
    border-collapse: collapse;
}
.inner-table-none, .inner-table-none tr, .inner-table-none td {
    border: none;
}
#download-btn {
    position: fixed;
    bottom: 3vh;
    right: 12vw;
    border-radius: 5px;
    padding: 0.5rem;
}
/* .ttd {
    display: block;
}
#qrcode {
    display: block;    
}
#qrcode img {
    break-inside: avoid;
} */
/* .ttd {
    position: relative;
    display: table;
    break-inside: avoid;
    margin-top: 1rem;
} */
/* #qrcode {
    display: table;
    break-inside: avoid;
    position: relative;
}
#qrcode img {
    position: relative;
    break-inside: avoid;
    border: 10px solid pink;
} */


@media screen and (min-width: 768px) {
    nav {
        margin-bottom: 2rem;
    }
    
    .logo-imi {
        width: 5.5rem;
        height: 5rem;
    }
    .kop-samping-logo {
        margin-left: 1rem;
        align-self: center;
    }
    .logo-kumham {
        height: 12vh;
        top: 6vh;
        left: 2vw;
    }
    .kop-tengah {
        line-height: 1.5rem;
    }
    .report-table td {
        padding: 0.5rem;
    }
}

@media print {
    nav {
        display: none;
    }
    body {
        width: 210mm;
        height: 297mm;
        /* visibility: hidden; */
        margin: 0;
        padding: 0;
        border: 2px solid black;
    }
    #main-report {
        width: 210mm;
        height: fit-content;
        border: 2px solid red;
    }
    .main-page-container {
        /* position: absolute; */
        /* width: 100%;
        height: 100%; */
        visibility: visible;
        box-shadow: none;
        margin: 0;
    }
    .kop-atas-container {
        display: flex;
        flex-direction: row;
        align-content: center;
    }
    .logo-imi {
        width: 4.4rem;
        height:4rem;
    }
    .kop-samping-logo {
        margin-left: 1rem;
        align-self: center;
    }
    .logo-kumham {
        height: 6rem;
        top: 1.5rem;
        left: 0;
    }
    .report-table td {
        padding: 0.5rem;
    }
    .report-table, .report-table tr, .report-table th, .report-table td {
        border: 2px solid black;
        border-collapse: collapse;
    }
    .inner-table-none tr, .inner-table-none td {
        border: none;
    }

    .ttd {
        /* position: relative;
        display: block; */
        border: 5px solid pink;
        /* break-inside: avoid; */
        /* page-break-before: always; */
        /* margin-top: 5rem; */
        /* break-after: always; */
    }
    #qrcode {
        /* display: table; */
        /* break-inside: avoid; */
        /* position: relative; */
    }
    #qrcode img {
        /* position: relative; */
        /* break-inside: avoid; */
        border: 10px solid pink;
    }
}