body {
    padding-left: 4%;
    padding-right: 4%;
}
table.border, table.border th {
    border: 1px solid;
    border-collapse: collapse;
}
table.border tr td {
    border-top: none;
    border-bottom: none;
    border-left: 1px solid;
    border-right: 1px solid;
}
table.border tr td table tr td {
    border: none;
}
table.border td {
    padding: 0.5rem;
}
table.border table.no-border {
    border-left: none;
}
table.no-border tr, table.no-border td {
    border: none;
    padding: 0.2rem;
}

.border-bottom {
    border-bottom: 2px solid;
    padding-bottom: 2px;
}
.logo-sm {
    width: 3rem;
    height: 3rem;
}
.font-sm {
    font-size: 0.7rem;
}
.text-bold {
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.text-md {
    font-size: 0.8rem;
}
.float-right {
    margin-left: 70%;
}
/* .float-right {
    margin-left: auto;
} */
.w-100percent {
    width: 100%;
}
.h-100percent {
    height: 100%;
}
.margin-top-2 {
    margin-top: 2rem;
}
.ml-10cm {
    margin-left: 10cm;
}        
.max-w-80percent {
    max-width: 35rem;
}